body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f9faf8;
}

.top {
  width: 100%;
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f9faf8;
  margin-bottom: 64px;
}

.hero {
  font-size: 24px;
}

.lList {
  display: flex;
  gap: 16px;
}

.topContent {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  padding-bottom: 100px;
}

.hero2 {
  display: flex;
  font-size: 48px;
  font-weight: 900;
}

.topContent p {
  font-size: 18px;
  color: #e5e7eb;
}

.desc {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.btn {
  background-color: #3882f6;
  color: #f9faf8;
  border: none;
  border-radius: 8px;
  padding: 12px 64px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: fit-content;
}

.placeholder {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: grey;
  margin: 32px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  text-align: center;
  padding-bottom: 80px;
}

.rInfo {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 64px;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.cardText {
  width: 200px;
}

.img {
  height: 200px;
  width: 200px;
  border: 4px solid #3882f6;
  border-radius: 8px;
}

.quote {
  display: flex;
  background-color: #e5e7eb;
  padding: 128px;
  justify-content: center;
  align-items: center;
}

.quote p {
  font-size: 36px;
  font-weight: 100;
  width: 823px;
  color: #1f2937;
  font-style: italic;
}

.author {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
}

.cTA {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #3882f6;
  display: flex;
  margin: 128px;
  border-radius: 8px;
  padding: 64px;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 64px;
}

.button2 {
  display: flex;
  background-color: #3882f6;
  border: #f9faf8 2px solid;
  border-radius: 8px;
  color: #f9faf8;  
  padding: 12px 48px;
  cursor: pointer;
}

.footer {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 16px;
  bottom: 0;
  justify-content: center;
  align-items: center;
}
